server {
    listen 80 default_server;
    listen [::]:80 default_server;
    root /var/www/2scool-web/dist/;
    index index.html index.htm;
    server_name www.qlnn.live qlnn.live;


  # expires -1;

  location ~* \.(?:css|js)$ {
    try_files $uri =404;
    # expires off;
    access_log off;
    add_header Cache-Control "public";
  }

  # Any route containing a file extension (e.g. /devicesfile.js)
  location ~ ^.+\..+$ {
    try_files $uri =404;
  }

  # Any route that doesn't have a file extension (e.g. /devices)
  location / {
    try_files $uri $uri/ /index.html;
  }
}
server {
  root /var/www/2scool-web/dist/;
  index index.html index.htm;
  server_name www.qlnn.live qlnn.live; # managed by Certbot

  # expires -1;

  location ~* \.(?:css|js)$ {
    try_files $uri =404;
    # expires off;
    access_log off;
    add_header Cache-Control "public";
  }

  # Any route containing a file extension (e.g. /devicesfile.js)
  location ~ ^.+\..+$ {
    try_files $uri =404;
  }

  # Any route that doesn't have a file extension (e.g. /devices)
  location / {
    try_files $uri $uri/ /index.html;
  }


  listen [::]:443 ssl ipv6only=on; # managed by Certbot
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/qlnn.live/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/qlnn.live/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

  if ($host = www.qlnn.live) {
      return 301 https://$host$request_uri;
  } # managed by Certbot


  if ($host = qlnn.live) {
      return 301 https://$host$request_uri;
  } # managed by Certbot


  listen 80 ;
  listen [::]:80 ;
  server_name www.qlnn.live qlnn.live;
  return 404; # managed by Certbot
}
