@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: #041d18;
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-weight: 300;
}

#root {
  height: 100vh;
  position: relative;
}

::-webkit-scrollbar-track
{
	border-radius: 12px;
	background-color: #dddddd;
}

::-webkit-scrollbar
{
	width: 8px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	background-color: #555;
}

.MuiDataGrid-row:hover {
  background-color:#81c2f7 !important;
}